<div class="col-md-6 instrument-container">

  <h2 class="text-center">Edit Instrument</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="code">Instrument Code:</label>
      <input type="text" formControlName="code" placeholder="code" name="code" class="form-control" id="code">
    </div>

    <div class="form-group">
      <label for="name">Instrument Name:</label>
      <input formControlName="name" placeholder="Instrument Name" name="name" class="form-control" id="name">
    </div>

    <button class="btn btn-success">Update</button>
  </form>
</div>